/*import da fonte Inter*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root {
    --text-color: #667085;
    --text-color2:#101828;
    --details-color: #8E2424;
    --background-color-1:  #8E24240D;
    --background-color-2: #C3191908;
  
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: var(--text-color)
}


main {
    width:85vw;
    margin: auto; 
    max-width: 1440px;
}

#logo {
    width: 148px;
    margin: -1rem;
}

/* =-=-= Navbar =-=-= */

.navbar {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;;
 
}

.nav-menu ul {
    display: inline-flex;
    gap: 2em;
    list-style: none;
}

.nav-menu ul a {
    text-decoration: none;
}

.cadastrar {
    width: 112px;
    background-color: var(--details-color);
    color: white;
    padding: 10px 18px 10px 18px;
    margin-top: -1rem;
    border: 1px solid  var(--details-color);
    border-radius: 8px;
}

.entrar {
    width: 83px;
    padding: 10px 18px 10px 18px;
    margin-top:-1rem;
    position: relative;
    margin-right: 12px;
}

/* =-=-= heading =-=-= */

.heading {
    text-align: center;
    margin: 6rem 0;
}


h1 {
    font-size: 3rem;
    margin-top: 16px;
    font-weight: 600;
    color: var(--text-color2);
}

.text-content {
    margin-top: 1.5rem;
    text-align: center;
    font-size: 1.25rem;
}

/*Modificadores de texto*/

.bold-red-text {
    color: var(--details-color);
    font-weight: 600;  
  }
  
.bold-text {
      color: var(--text-color2);
      font-weight: 500;    
  }


/*=-=- Metrics -=-=-=*/

.metrics {
    display: flex;
    justify-content: space-between;

}

.score {
    font-size: 3.75rem;
}

/*Pegando ultimo p das divs dentro da classe metrics*/

.metrics div p:last-of-type {
    margin-top: 16px;
    padding: 0 0 96px 0;
}

/*Pegando elemento p em posição par das divs dentro da classe metrics*/

.metrics div p:nth-of-type(2n) {
    margin-top: 18px;
    font-size: 18px;
}


/*=-=-= Talents =-=-=*/

.info {
   text-align: center;
   padding-top: 5rem;
}

.red-subtitle {
    font-size: 0.87rem;
    font-weight: 500;
    color: var(--details-color);
    margin-bottom: 1rem;
    background-color: var(--background-color-1);
    padding: .3em 1em;
    border-radius: 2rem;
}


h2 {
    font-weight:600;
    margin: 1.2rem;
    font-size: 2.25rem;
    color: var(--text-color2);
}

.meeting-img {
    width: 100%;
    padding: 3rem 0;
}


/*Vacancy*/

.vacancy {
    width: 65%;
    margin: 0 auto;
}

.job-vacancy-area {
    padding: 2rem 0 1rem;
}

.job-vacancy-area h4 {
    font-size: 1.25rem;
    position: absolute;
    margin-top: -1.3rem;
}

.job-post {
    border: 1px solid #EAECF0;
    border-radius: 1rem;
    padding: 1.5rem 1rem 0 1rem;
    margin: 2rem 0;
}

.job-post p:first-child {
    margin-bottom: 2rem;
}

.job-post div span {
    padding-right: 1em;

}


/*testimonials*/

.testimonials {
    margin-top: 3rem;
    padding: 0 0 96px 0 ;
}
.testimonials div:first-of-type {
    text-align: center;
    padding: 2rem;
}

.testimonials p:first-child {
    font-size: 0.87rem;
    margin-bottom: 1em;
}

.testimonials .testimony {
    font-size: 2.25rem;
}

.testimonial-light-red-background {
    background-color: var(--background-color-2);
    width: 100%;
    
}

.avatar-info p {
    padding-top: 0.7rem;
}

.avatar-info p:last-child {
    font-size: 0.87em;
}